.register {

}

.popup__label {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
color: #2F71E5;
margin-bottom: 10px;
padding-top: 16px;
box-sizing: border-box;
}

.popup__input {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
width: 358px;
box-sizing: border-box;
border: none;
border-bottom: 1px solid rgba(0, 0, 0, 0.2);
padding: 0;
padding-bottom: 10px;
}

.popup__input::placeholder {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  opacity: 0.2;
}

.popup__input:focus {
  border-bottom: 1px solid #000000;
  caret-color: #2F71E5;
}

.popup__error {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: #FF0000;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  margin: 5px 0 13px;
}

/* переименовать */
.popup__error_button {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.popup__error_input {
  position: absolute;
  left: 0;
  top: 50px;
}

@media screen and (max-width: 580px) {
  .popup__input {
  width: 288px;
  box-sizing: border-box;
  }
  
  .popup__label:first-of-type {
    padding-top: 22px;
  }

  .popup__label {
    padding: 0;
  }
}
